@import url(./components/icon.css);
@import url(./components/table.css);
@import url(./components/card.css);
@import url(./components/dialog.css);
@import url(./components/toastbox.css);
@import url(./components/tooltip.css);

* {
  margin: 0;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.m-required {
  color: red;
}
